<!-- Page Content -->
<div class="container pt-5">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <h3 class="my-4">Welcome
        <small *ngIf="!auth.isLoggedIn()">Please <a routerLink="/login">Login</a> or <a routerLink="/register">Register</a> to publish a post.</small>
        <small *ngIf="auth.isLoggedIn()">{{ auth.getUserDetails()?.name }}</small>
      </h3>

      <button *ngIf="auth.isLoggedIn()" class="btn btn-secondary float-right" routerLink="/publish">Publish a Post</button>

      <div class="btn-group btn-group-toggle" data-toggle="buttons" *ngIf="auth.isLoggedIn()">
        <label class="btn btn-outline-info active" (click)="showFollowing = false">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> All posts
        </label>
        <label class="btn btn-outline-info" (click)="showFollowing = true">
          <input type="radio" name="options" id="option2" autocomplete="off"> Following
        </label>
      </div>

      <hr>

      <!-- Blog Post -->
      <div *ngIf="!showFollowing">
        <div class="card mb-4" *ngIf="allBlogPosts.length<=0">
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <div class="card-body">
            <h3>No post are published yet.</h3>
          </div>
        </div>
        <div *ngFor="let post of allBlogPosts.slice().reverse()">
          <div class="card mb-4" *ngIf="post.private == 'false'">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">
                {{post?.title}}
                <small>{{ post.category }}</small>
              </h2>
              <p class="card-text text-truncate">{{post?.text}}</p>
              <a (click)="goToPage(post?._id, '/post/')" class="btn btn-info text-white">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on {{post?.created | date:'medium'}} by {{post?.userName}}
              <button *ngIf="auth.isLoggedIn() && auth.getUserDetails()._id != post.userId"
                      class="btn btn-secondary float-right" (click)="goToPage(post?.userId, '/user/')">See the Author</button>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="showFollowing">
        <div class="card mb-4" *ngIf="followedBlogPosts.length<=0">
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <div class="card-body">
            <h3>No posts.</h3>
          </div>
        </div>
        <div *ngFor="let post of followedBlogPosts.slice().reverse()">
          <div class="card mb-4" *ngIf="post.private == 'false'">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">
                {{post?.title}}
                <small>{{ post.category }}</small>
              </h2>
              <p class="card-text text-truncate">{{post?.text}}</p>
              <a (click)="goToPage(post?._id, '/post/')" class="btn btn-info text-white">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on {{post?.created | date:'medium'}} by {{post?.userName}}
              <button *ngIf="auth.isLoggedIn() && auth.getUserDetails()._id != post.userId"
                      class="btn btn-secondary float-right" (click)="goToPage(post?.userId, '/user/')">See the Author</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">Newer &rarr;</a>
        </li>
      </ul>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let post of allBlogPosts.slice().reverse()">
              <ul class="list-unstyled mb-0" >
                <li>
                  <a *ngIf="post.private == 'false'" [routerLink]="['/category', post?.category]">{{post.category}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Welcome to Blog Site :)</h5>
        <div class="card-body">
          If you want to see the authors' profiles please login or register. Unauthorized users cannot see authors' profiles and cannot publish posts.
        </div>
      </div>

    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
