<!-- Page Content -->
<div class="container pt-5">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-12">

      <h2 class="d-inline-block mt-4">User</h2>
      <button *ngIf="!isFollowing" class="btn btn-success d-inline-block mt-4 float-right" (click)="follow()">Follow</button>
      <button *ngIf="isFollowing" class="btn btn-danger d-inline-block mt-4 float-right" (click)="unfollow()">Unfollow</button>
      <hr>
      <p class="form-control-static">Name: {{ user?.name }}</p>
      <p class="form-control-static">Email: {{ user?.email }}</p>
      <h2 class="mt-4">{{ user?.name }}'s Posts</h2>
      <hr>

      <div class="card mb-4" *ngIf="blogPosts.length<=0">
        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
        <div class="card-body">
          <h3>No post are published yet.</h3>
        </div>
      </div>

      <!-- Blog Post -->
      <div *ngFor="let post of blogPosts.slice().reverse()">
        <div class="card mb-4" *ngIf="post.private == 'false'">
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{post?.title}}</h2>
            <p class="card-text text-truncate">{{post?.text}}</p>
            <a (click)="goToPage(post?._id, '/post/')" class="btn btn-info text-white">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on {{post?.created | date:'medium'}}
            <a (click)="goToPage(post?.userId, '/user/')">by {{post?.userName}}</a>
          </div>
        </div>
      </div>

      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">Newer &rarr;</a>
        </li>
      </ul>

    </div>

    </div>
  <!-- /.row -->

</div>
<!-- /.container -->
